<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please, log in</title>
</head>
<body>
<img src="/WEB-INF/images/tomcat-logo.png" alt="tomcat-logo.png" width="320" height="160">
<form method="post" action="/login">
    <p>
        <label>
            <input type="text" name="username" placeholder="Введите логин" required>
        </label>
    </p>
    <p>
        <label>
            <input type="password" name="password" placeholder="Введите пароль" required>
        </label>
    </p>
    <input type="submit" value="Войти">
    <input type="reset" value="Очистить">
</form>
</body>
</html>